@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body */
body{
  width:100%;
}

/* ----------------Header Component Style----------- */

#header_container{
  padding:10px 20px;
}

#header_container h1{
  color:#9b1e48;
  font-weight:600;
}

#header_container p{
  font-weight: 400;
  letter-spacing: 0.8px;
  color:rgb(90, 88, 88);
  margin-bottom: 20px;
}

#header_container ul{
  display:flex;
  justify-content: space-between;
  list-style: none;
  background-color: #a6a19e;
}

#header_container>ul>li{
  text-align: center;
  color:white;
  width:100%;
  padding:10px 0;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.3s;
}

#header_container>ul>li:first-child{
  background-color:#9b1e48;
}

#header_container>ul>li:hover{
  background-color:#9b1e48;
}


/* <-------------------main section style-------------------------------------------> */

/* section 1 */
#section1{
  width:100%;
  padding-bottom:2rem;
  background-color: #ededed;
  display:flex;
  justify-content: center;
  padding:0 20px;
  padding-bottom:40px;
}

#section1 img{
  width:80%;
  height:600px;
  object-fit: fill;
}

#main_icons{
  position:relative;
}

#main_icon1,#main_icon2{
  position:absolute;
  bottom:0px;
  color:white;
  font-weight: 600;
  font-size: 2rem;
}
#main_icon1{
  right:10px;
}
#main_icon2{
  right:50px;
}

/* section 2 */
#section2{
  background-color:#9b1e48;
  padding:3% 0;
  text-align: center;
  display:flex;
  flex-direction: column;
  gap:1.5rem;
  color:white;
}

#section2>h1{
  font-size: 2.5rem;
  font-weight: 500;
}

#section2>p{
  width:59%;
  margin:auto;
}

#section2>div{
  display:flex;
  justify-content: center;
  gap:2rem;
  margin-top: 20px;
}

#section2>div>button{
  width:18%;
  padding:15px 0;
  background-color: transparent;
  border:2px solid white;
  color:white;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.5s;
}

#section2>div>button:hover{
  color:#9b1e48;
  background-color: white;
}

/* section 3 */
#section3{
  padding:0 8rem;
}
#section3 div{
  padding:3rem 0;
}
#section3 p:first-child{
  color:#9b1e48;
  font-weight: 400;
  font-size: 16px;
}

#section3>#para1{
  display:flex;
  flex-direction: column;
  gap:1.6rem;
}
#section3>p:not(:first-child){
  color: #5C5C5C;
  font-size: 14px;
  line-height: 1.4rem;
  font-weight: 400;
}

hr{
  background-color: #8e8d8d;
}

#para2{
  text-align: center;
  display:flex;
  flex-direction: column;
}

#para2 h2{
  color:#9b1e48;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

#para2 span{
  color:#5C5C5C;
  font-weight: 500;
}


/* <-------------------footer section style-------------------------------------------> */
footer>div:first-child{
  background-color:rgb(164, 160, 156);
  font-size: 0.7rem;
  text-align: center;
  padding:1rem 0;
  color: #2e2e2e;
}
footer>div:last-child span{
  color:#2980B9;
}
footer>div:last-child{
  font-size: 0.9rem;
  text-align: center;
  padding:1rem 0;
}


